@font-face {
  font-family: Akira;
  src: url(/assets/font/Akira\ Expanded\ Demo.otf);
}

#banner h3 {
  font-family: Akira;
  font-size: 300%;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 10px 10px 10px black;
}

.banner {
  background: url(/assets/img/AnyConv.com__1.jpg) no-repeat center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
  -webkit-text-stroke: 0.6px black;
  text-shadow: 3px 3px 3px black;
}

.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

.tim img {
  width: 200px;
  border: 5px solid #c52828;
}

.kontak {
  background: url("/assets/img/VALORANT\ -\ Environment\ for\ Skye\ Agent\ Reveal\ trailer.jpeg")
    no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}
